<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="faa49c">  <td>20/04/15 10:45:10</td>   <td>0</td> <td title="&gt;&gt;BaseClass.launchDriver()[pri:0, instance:com.driver.PinterestTestCase@7674f035]">&gt;&gt;launchDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@113411247</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>20/04/15 10:45:17</td>   <td>6820</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PinterestTestCase.beforeTestMethod()[pri:0, instance:com.driver.PinterestTestCase@7674f035]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@113411247</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>20/04/15 10:45:18</td>   <td>7214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PinterestTestCase.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.PinterestTestCase@7674f035]">driverMethod</td> 
  <td>main@113411247</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>20/04/15 10:45:18</td>   <td>7228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PinterestTestCase.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.PinterestTestCase@7674f035]">driverMethod</td> 
  <td>main@113411247</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>20/04/15 10:45:18</td>   <td>7242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PinterestTestCase.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.PinterestTestCase@7674f035]">driverMethod</td> 
  <td>main@113411247</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>20/04/15 10:45:18</td>   <td>7254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PinterestTestCase.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.PinterestTestCase@7674f035]">driverMethod</td> 
  <td>main@113411247</td>   <td></td> </tr>
<tr bgcolor="a0ee78">  <td>20/04/15 10:45:18</td>   <td>7266</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PinterestTestCase.closeTest()[pri:0, instance:com.driver.PinterestTestCase@7674f035]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="faa49c">  <td>20/04/15 10:45:18</td>   <td>7437</td> <td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.driver.PinterestTestCase@7674f035]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
