<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My Dynamic TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:16:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase3.beforeTestMethod()[pri:0, instance:com.driver.TestCase3@3b9696f1]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102266</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase3.closeTestAndDriver()[pri:0, instance:com.driver.TestCase3@3b9696f1]">&lt;&lt;closeTestAndDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:16:22</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:17:19</td>   <td>56891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:17:21</td>   <td>58853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:17:53</td>   <td>91106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
<tr bgcolor="b678a5">  <td>20/07/10 09:18:04</td>   <td>102263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.driverMethod(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.driver.TestCase3@3b9696f1]">driverMethod</td> 
  <td>com.driver.Driver.main()@1617535064</td>   <td></td> </tr>
</table>
