<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestCase.beforeTestMethod()[pri:0, instance:com.driver.SeleniumTestCase@1613674b]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestChrome-1@2005433803</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>317</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestCase.closeTest()[pri:0, instance:com.driver.SeleniumTestCase@1613674b]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestCase.beforeTestMethod()[pri:0, instance:com.driver.SeleniumTestCase@24fcf36f]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=inputData-1@431063246</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>571</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestCase.closeTest()[pri:0, instance:com.driver.SeleniumTestCase@24fcf36f]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestCase.beforeTestMethod()[pri:0, instance:com.driver.SeleniumTestCase@2053d869]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestEdge-1@1505916082</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>648</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestCase.closeTest()[pri:0, instance:com.driver.SeleniumTestCase@2053d869]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>702</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestCase.beforeTestMethod()[pri:0, instance:com.driver.SeleniumTestCase@6f46426d]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestOpera-1@344657320</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>20/04/21 15:26:39</td>   <td>735</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestCase.closeTest()[pri:0, instance:com.driver.SeleniumTestCase@6f46426d]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ea606c">  <td>20/04/21 15:26:39</td>   <td>755</td> <td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.driver.SeleniumTestCase@6f46426d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
